.basketItem__listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.basketItem__listItem svg {
  cursor: pointer;
}

.basketItem__listItem div {
  width: 90%;
}
