.ingredient {
  position: relative;
  max-width: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
}

.ingredient:hover {
  background-color: rgba(255, 255, 255, 0.034);
}

.ingredient__price-box {
  display: flex;
  align-items: center;
}

.ingredient__price {
  margin-right: 8px;
}

.ingredient__text {
  text-align: center;
}
